# Cloudera AI Agent Studio Environment Variables
# Copy this file to .env or .env.local as needed and fill in your values.
#
# 
# HOW TO GET ENVIRONMENT VARIABLES FOR A LOCAL DEVELOPMENT SESSION:
# * create a project that will be your "deployment" project in any CAI instance
# * start a session in that project
# * run `env | grep CDSW` and `env | grep AGENT_STUDIO` in the session
# * copy all environment variables into this file
# * remove engine-specific env vars such as:
#   - CDSW_IP_ADDRESS
#   - CDSW_ENGINE_ID
#   - ...
# * go into the same project and create new, long-lasting API and APIv2 keys
# * copy them into this file for CDSW_API_KEY and CDSW_APIV2_KEY


# Grab these from a session
CDSW_PUBLIC_PORT=
CDSW_ENGINE_TYPE=
CDSW_PROJECT_DATA_CONNECTION_URL=
CDSW_APP_POLLING_ENDPOINT=
CDSW_APP_PORT=
CDSW_DS_API_URL=
CDSW_READONLY_PORT=
CDSW_DOMAIN=
CDSW_API_URL=
CDSW_PROJECT_ID=
CDSW_PROJECT=
CDSW_WORKSPACE_DATA_CONNECTION_URL=
CDSW_PROJECT_URL=
CDSW_PROJECT_NUM=
CDSW_ENGINE_URL=

# Create these manually and add them here
CDSW_API_KEY=
CDSW_APIV2_KEY=

# Also need to set project owner
PROJECT_OWNER=

# Set this if you want to have a specific runtime to use for deployments
AGENT_STUDIO_RUNTIME_IDENTIFIER=